
// Reset browser sizes

//ol, ul, li,
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, b, u, i, form, label, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
:focus {
 outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Layout

// We need a variable using brackets here, otherwise less won't calculate the width
// See: https://github.com/less/less.js/issues/1903
@small-screen-breakpoint: (@contentMaxWidth + 2 * @contentMinMarginX);

.main-column {
  width: @contentMaxWidth;
  margin: 0 auto;

  @media (max-width: @small-screen-breakpoint) {
    width: auto;
    margin: 0 @contentMinMarginX;
  }

}
