
#jumbo-message {
  margin-top: 150px;
  text-align: center;
  font-size: 20px;

  .btn {
    margin-top: 30px;
  }
}

#error-alert {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 100;
  text-align: center;

  .alert {
    display: inline-block;
  }
}

#demo-alert {
  display: none;
  position: fixed;
  top: 70px;
  left: 50%;
  right: 0;

  .alert {
    display: block;
    margin: 0 50px;
  }
}

#editor-wrapper {
  font-size: 14px;

  // Avoid flickering while the editor loads
  background-color: @colorEditorBg;

  .CodeMirror-selected {
    // The original selection background of the railscasts theme is nearly not visible
    background: lighten(@colorEditorBg, 10%) !important;
  }

  span.cm-error {
    // The original error background has the same color as the foreground (#da4939) which makes the text not readable
    background: #8c0e00;
  }
}

.mode-createUser {
  #create-user-box {
    display: none;

    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }
  #result-box {
    margin-top: 30px;
    display: none;
  }
}
